<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sonic__06_GLVL_Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sonic__06_GLVL_Converter.Properties.Settings>
            <setting name="SourceSET" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupXML" serializeAs="String">
                <value />
            </setting>
            <setting name="GLVLTemplates" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetSET" serializeAs="String">
                <value />
            </setting>
        </Sonic__06_GLVL_Converter.Properties.Settings>
    </userSettings>
</configuration>