<?xml version="1.0" encoding="utf-8"?>
<Template>
  <velocity type="float" default="3000" description="The speed the player will be launched at." />
  <time type="float" default="0.5" description="Time taken before restoring control to the player." />
  <target type="float" default="4294967295" description="Targeted object." /> <!-- uint32 -->
  <globalflag type="integer" default="0" description="Spawns the spring if the global flag is enabled." />

  <Extra type="model" name="cmn_obj_spring.model" />
  <Extra type="description" name="Bounce Pad!" />
</Template>