<?xml version="1.0" encoding="utf-8"?>
<Template>
  <velocity type="float" default="3000" description="The speed the player will be launched at." />
  <time type="float" default="0.5" description="Time taken before restoring control to the player." />
  <target type="float" default="4294967295" description="Targeted object." /> <!-- uint32 -->
  <DrawDistance type="float" default="0" description="How close the object needs to be to the player before spawning." />
  <ObjName type="string" default="" description="The internal name of the object." />
  <StartInactive type="bool" default="false" description="Whether the object starts inactive." />

  <Extra type="model" name="cmn/cmn_spring.model" />
  <Extra type="description" name="Bounce Pad!" />
</Template>